@model LineaAerea.Models.Avion

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<fieldset>
    <legend>Avion</legend>

    <div class="display-label" style="font-weight: bold">Marca</div>
    <div class="display-field">@Model.Marca</div>

    <div class="display-label" style="font-weight: bold">Modelo</div>
    <div class="display-field">@Model.Modelo</div>

    <div class="display-label" style="font-weight: bold">CapacidadPasajeros</div>
    <div class="display-field">@Model.CapacidadPasajeros</div>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", null, new { id=Model.Id }, new { @class = "button" }) |
    @Html.ActionLink("Volver a la lista", "Index", null, new { @class = "button" })
</p>

