@model IEnumerable<LineaAerea.Models.Avion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "button" })
</p>
<table id="listGrid">
	<thead>
    <tr>
        <th></th>
        <th>
            Marca
        </th>
        <th>
            Modelo
        </th>
        <th>
            Capacidad de pasajeros
        </th>
    </tr>
	</thead>
	<tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", null, new { id=item.Id }, new { @class = "button" }) 
            @Html.ActionLink("Details", "Details", null, new { id=item.Id }, new { @class = "button" }) 
            @Html.ActionLink("Delete", "Delete", null, new { id=item.Id }, new { @class = "button" })
        </td>
        <td>
            @item.Marca
        </td>
        <td>
            @item.Modelo
        </td>
        <td>
            @item.CapacidadPasajeros
        </td>
    </tr>
}
</tbody>
</table>
<script type="text/javascript">
	$(document).ready(function () {
		$("#listGrid").wijgrid({ allowSorting: true, allowPaging: true, pageSize: 20});
	});
</script>

