@model LineaAerea.Models.Vuelo

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Vuelo</legend>

    <div class="display-label">ProcedenciaID</div>
    <div class="display-field">@Model.ProcedenciaID</div>

    <div class="display-label">DestinoID</div>
    <div class="display-field">@Model.DestinoID</div>

    <div class="display-label">FechaSalida</div>
    <div class="display-field">@String.Format("{0:g}", Model.FechaSalida)</div>

    <div class="display-label">HoraSalida</div>
    <div class="display-field">@Model.HoraSalida</div>

    <div class="display-label">Duracion</div>
    <div class="display-field">@Model.Duracion</div>

    <div class="display-label">AvionID</div>
    <div class="display-field">@Model.AvionID</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> 
        @Html.ActionLink("Back to List", "Index", null, new { @class = "button" })
    </p>
}


