@model IEnumerable<AgenciaDeViaje.Models.Vuelo>
@{
    ViewBag.Title = "BuscarVuelo";
}
@section header{
    <script id="scriptInit" type="text/javascript">
        $(document).ready(function () {
            $("#lista").wijgrid({
                allowSorting: true,
                allowPaging: true,
                pageSize: 10

            });
        });
    </script>
}



<h2>Buscar Vuelos</h2>

<table id="lista">

<thead>
    <tr>
        <th>
            Procedencia
        </th>
        <th>
            Destino
        </th>
        <th>
            Salida
        </th>
        <th>
            Llegada
        </th>
        <th></th>
    </tr>
    </thead>
    

    <tbody>
@foreach (var item in Model) {
    
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Procedencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Destino)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salida)
        <td>
            @Html.DisplayFor(modelItem => item.Llegada)
        </td>
        </td>
        <td>
        
            @Html.ActionLink("Reservar", "ManejoBoleto", "Boletos", new { tipo=1, id = item.Id }, new { @class = "label" }) |
             @Html.ActionLink("Comprar", "ManejoBoleto", "Boletos", new { tipo=2, id = item.Id }, new { @class = "label" }) |
              @Html.ActionLink("Detalles", "Details", "Vuelo", new { id = item.Id }, new { @class = "label" })
        </td>
    </tr>
}
</tbody>

</table>