@model IEnumerable<AgenciaDeViaje.Models.Vuelo>

@{
    ViewBag.Title = "Index";
}
@section header
{
   
}


<h2>Buscar Vuelos</h2>

<p>
<table>
<tr>
<td>
<label>Procedencia</label>
</td>
<td>
   <select>
   <option></option>
   </select>
   </td>
   <td>
   <label>Destino</label>
   </td>
   <td>
   <select>
   <option></option>
   </select>
   </td>
   </tr>
   <tr>
   <td>
   <label>Fecha</label>
   </td>
   <td>
 <div id="calendar">
	</div>
	<label for="popdate">Choose a Date:</label>
	<input name="popdate" type="text" id="popdate" style="width: 180px;" />
	<!-- End demo markup -->


   </td>
   <td colspan="2" align="right">
   <button class="botonCss">Buscar</button>
   </td>
   </tr>
   </table>
</p>
@if(Model.Count(p=>p.Id>0)>0){
<table>
    <tr>
        <th>
            Procedencia
        </th>
        <th>
            Destino
        </th>
        <th>
            Salida
        </th>
        <th>
            Llegada
        </th>
        <th></th>
    </tr>
    </table>
    }

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Procedencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Destino)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Llegada)
        </td>
        <td>
            @Html.ActionLink("Reservar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Comprar", "Details", new { id=item.Id }) |
            @Html.ActionLink("Details", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
