@model AgenciaDeViaje.Models.Vuelo
@{
    ViewBag.Title = "Pagina de inicio";
}

    <script id="scriptInitial" type="text/javascript">
        $(document).ready(function () {
            $("#tabs").wijtabs();
        });
	</script>

<h2>@ViewBag.Message</h2>
 @if (TempData["error"] != null) {
    <h4 style="color: #FF0000">@Html.Encode(TempData["error"])
    </h4>
  }
@using (Html.BeginForm())
{
    
     @Html.ValidationSummary(true)

        <div id="tabs" style="width: 400px; height: 320px;">
        <ul>
			<li><a href="#tabs-1">Vuelos</a></li>
           
		</ul>
            <div id="tabs-1">
                <table style="border:hidden" cellpadding="5">
                    <tr>
                        <td>
                           @Html.RadioButton("Modo", "Ida", true, new { @onclick = "ocultar(this.value)" }) Ida
                            
                           
                        </td>
                        <td>
                           @Html.RadioButton("Modo", "Ida y Vuelta", false, new { @onclick = "ocultar(this.value)" }) Ida y Vuelta
                           
                        </td>
                        
                    </tr>
                    
                    <tr>
                         <td> Procedencia:</td>
                         <td>
                            @Html.DropDownList("Procedencia", (IEnumerable<SelectListItem>)ViewBag.Procedencia, "--Selecciona--", 
                            new { style = "width: 200px;" })
                            
                         </td>
                         
                    </tr>

                    <tr>
                         <td>Destino:</td>
                         
                         <td>
                         
                          @Html.DropDownList("Destino", (IEnumerable<SelectListItem>)ViewBag.Destinos, "--Selecciona--", new { style = "width: 200px;" })
          
                         </td>
                    
                    </tr>
                    <tr>
                        <td>Fecha salida:</td>
                       <td> @Html.EditorFor(m => Model.Salida)</td>
                   </tr>
                    <tr>
                        <td><div id="loculto" style="display:none">Fecha llegada:</div></td>
                       <td><div id="toculto" style="display:none">
                           @Html.EditorFor(m => Model.Llegada)
                       </div>
                       </td>
                    </tr>
	                
                    
                    
                    <tr>
                    <td colspan="2" align="right">
                    
                      <input type="submit" value="Buscar Vuelo" />
                      
                      </td>
                      </tr>
                </table>
            </div>
            <div style="margin: -60% 0% 0px 450px;  width: 700px; height: 300px;">
           <a href=""><img src="../../anuncio.png", alt="Edit" /></a>

</div>
           
        </div>
      <script type="text/javascript">
<!--
          function ocultar(e) {
              var d1 = "none";
              switch (e) {
                  case "Ida":
                      {
                          d1 = "none";
                      }
                      break;
                  case "Ida y Vuelta":
                      {
                          d1 = "block";
                      }
                      break;
              }
              document.getElementById('toculto').style.display = d1;
              document.getElementById('loculto').style.display = d1;
          }
//-->
</script>
}
       
    
        
    

  


