@model AgenciaDeViaje.Models.Vuelo
@{
    ViewBag.Title = "Home Page";
}

    <script id="scriptInitial" type="text/javascript">
        $(document).ready(function () {
            $("#tabs").wijtabs();
        });
	</script>

<h2>@ViewBag.Message</h2>
@using (Html.BeginForm())
{
    
    @Html.ValidationSummary(true)
  
        <div id="tabs" style="width: 300px;">
        <ul>
			<li><a href="#tabs-1">Vuelos</a></li>
           
		</ul>
            <div id="tabs-1">
                <table style="border:hidden" cellpadding="5">

                    <tr>
                         <td> Procedencia:</td>
                         <td>
                          @Html.DropDownListFor(m => Model.Procedencia, (IEnumerable<SelectListItem>)ViewBag.Procedencia, "--Selecciona--")
                          
                         </td>
                         
                    </tr>

                    <tr>
                         <td>Destino:</td>
                         
                         <td>
                         
                          @Html.DropDownListFor(m => Model.Destino, (IEnumerable<SelectListItem>)ViewBag.Destinos, "--Selecciona--")
          
                         </td>
                    
                    </tr>
                    <tr>
                        <td><label>Fecha:</label></td>
                       <td> @Html.EditorFor(m => Model.Salida)</td>
                    
	                
                    </tr>
                    <tr>
                    <td colspan="2" align="right">
                    
                      <input type="submit" value="Buscar Vuelo" />
                      
                      </td>
                      </tr>
                   
                </table>
            </div>
           
        </div>
      
}
       
    
        
    

  


