@model LineaAerea.Models.Usuarios

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<fieldset>
    <legend>Usuarios</legend>

    <div class="display-label" style="font-weight: bold">Nombre</div>
    <div class="display-field">@Model.Nombre</div>

    <div class="display-label" style="font-weight: bold">Apellido</div>
    <div class="display-field">@Model.Apellido</div>

    <div class="display-label" style="font-weight: bold">Usuario</div>
    <div class="display-field">@Model.Usuario</div>

    <div class="display-label" style="font-weight: bold">Password</div>
    <div class="display-field">@Model.Password</div>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", null, new { id=Model.Id }, new { @class = "button" }) |
    @Html.ActionLink("Volver a la lista", "Index", null, new { @class = "button" })
</p>

