@model IEnumerable<AgenciaDeViaje.Models.Boleto>

@{
   
    ViewBag.Title = "Manejo De Boletos";
}


<table id="listGrid">
	<thead>
 
        <th>ID Boleto</th>
        <th>Procedencia</th>
        <th>Destino</th>
        <th>Salida</th>
        <th>Llegada</th>
       
@foreach (var item in Model)
{
    if (item.tipo != 1)
    { <th>Opciones</th>}
    break;
}
    
	</thead>
	<tbody>
    @foreach (var item in Model) {  
    <tr>
        <td>@item.Id</td>
        <td>@item.Vuelo.Procedencia</td>
        <td>@item.Vuelo.Destino</td>
        <td>@item.Vuelo.Salida</td>
        <td>@item.Vuelo.Llegada</td>
        
        @if (item.tipo != 1) {<td> @Html.ActionLink("Borrar", "Delete", null, new { id = item.Id }, new { @class = "button",id="borrar" }); 
              </td>                                                                                                            
        }
       
    </tr>
}
</tbody>
</table>
<script type="text/javascript">
    $(function () {
        $('#borrar').click(function () {
            if (confirm("Desea Borrar El Boleto?")) {
                return true;
            }
            return false;
        });
    });
</script>

<script type="text/javascript">
	$(document).ready(function () {
		$("#listGrid").wijgrid({ allowSorting: true, allowPaging: true, pageSize: 20});
	});
</script>

