@model IEnumerable<AgenciaDeViaje.Models.Boleto>

@{
   
    ViewBag.Title = "Manejo De Boletos";
}
@functions{
      public static int asientos(int idVuelo)
      {
          AgenciaDeViaje.ServicioWeb.ServicioDeComunicacionSoapClient servicio = new AgenciaDeViaje.ServicioWeb.ServicioDeComunicacionSoapClient();
          return servicio.asientosDisponibles(idVuelo);
      }
}


<table id="listGrid">
	<thead>
 
        <th>ID Boleto</th>
        <th>Procedencia</th>
        <th>Destino</th>
        <th>Salida</th>
        <th>Llegada</th>
       
@foreach (var item in Model)
{
    if (item.tipo != 1)
    { <th>Opciones</th>}
    break;
}
    
	</thead>
	<tbody>
    @foreach (var item in Model)
    {  
    <tr>
        <td>@item.Id</td>
        <td>@item.Vuelo.Procedencia</td>
        <td>@item.Vuelo.Destino</td>
        <td>@item.Vuelo.Salida</td>
        <td>@item.Vuelo.Llegada</td>
        
     
      
              @if (item.tipo != 1){ 
                  <text><td></text>
                  @Html.ActionLink("Borrar", "Delete", null, new { id = item.Id }, new { @class = "button", id = "borrar" }) 
                if (item.tipo == 2 || asientos(item.Vuelo.Id)>0) { @Html.ActionLink("Comprar", "ComprarReserva", null, new { id = item.Id }, new { @class = "button", id = "comprar" })}
            @:</td>
              }
           
                
    </tr>
    }
</tbody>
</table>
<script type="text/javascript">
    $(document).ready(function () {
        $("#listGrid").wijgrid({ allowSorting: true, allowPaging: true, pageSize: 20 });
    });

    $(function () {
        $('#borrar').click(function () {
            if (confirm("Desea Borrar El Boleto?")) {
                return true;
            }
            return false;
        });

    });
  
    $(function () {
        $('#comprar').click(function () {
            if (confirm("Desea Comprar El Boleto?")) {
                return true;
            }
            return false;
        });

    });
</script>

